$white: #D4D4D4;
$dark: #383838;//black
$dark: #12343E;//green
$dark: #21124D;//purple
$dark: #002a4f;//blue

tr,td {
  border: 1px solid $white;
  height: 60px;
  .english{
    width: 100px;
  }
  font-size-adjust: auto;
  .meaning{
    width:800px;
    text-align: left;
    padding-left: 10px;

  }
  margin: auto;
}
body{
  background-color: $dark;
  color: $white;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;

}
form {
  padding-top: 60px;
}
table {
  // display: block;
  // margin: auto;
  text-align: center;
  font-size: 20px;
  tr:nth-child(odd){
    background-color: darken($dark, 10%);
    color: #D8D8A7;
  }
  border-radius: 4px;
}
.english{
  // width: 150px;
  font-weight: bold;
}
.meaning{
  font-weight: bold;
}

tbody {
  align-items: center;
  margin: 0 auto;
  position: absolute;          /* 位置指定 */
  top: 50%;                    /* 親要素の半分下にずらす */
  left: 30%;                   /* 親要素の半分右にずらす */
  transform: translateY(-50%) translateX(-10%);    /* 要素自体の半分、上と左にずらす */
  padding: 20px;
}
button {
  float: right;
}
.setPage{
  float: left;
}
.container {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  color: $white;
  // padding-top: 40px;
  background-color: lighten($dark, 20%);
  border-radius: 10px;
}
input {
  background-color: $white;
  color: $dark;
}

.btn-circle-border-double {
  display: inline-block;
  text-decoration: none;
  color: $white;
  width: 70px;
  height: 70px;
  line-height: 60px;
  border-radius: 30%;
  border: double 4px darken($dark,5%);
  background-color: lighten($dark, 10%);
  text-align: center;
  overflow: hidden;
  transition: .6s;
  float: none;
}

.btn-circle-border-double:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
h3{
  padding-top: 40px;

}
h2{
  padding-top: 40px;
}
.bpm{
  text-decoration: underline;
}
input {
  border-radius: 10px;
}
// table {
//   display: block;
//   position: relative;
//   overflow: scroll;
//   width: calc(100vw - 3.0rem);
//   height: calc(75vh);
//   border-collapse: collapse;
//   font-size: 0;
// }
// th,td {
//   display: inline-block;
//   width: 8.0rem;
//   background: #fff;
//   font-size: 1.0rem;
// }
//
//
//

// body {
//   font-family: "Avenir Next";
// }
//
// li {
//   list-style: none;
// }
//
// .header {
//   background-color: #26d0c9;
//   color: #fff;
//   height: 90px;
// }
//
// .header-logo {
//   float: left;
//   font-size: 36px;
//   padding: 20px 40px;
// }
//
// .header-list li {
//   float: left;
//   padding: 33px 20px;
// }
//
// .main {
//   padding: 100px 80px;
// }
//
// .copy-container {
//   h1 {
//     font-size: 100px;
//   }
//
//   h2 {
//     font-size: 40px;
//   }
//
//   span {
//     color: #ff4a4a;
//   }
// }
//
// .contents {
//   height: 500px;
//   margin-top: 100px;
// }
//
// .section-title {
//   border-bottom: 2px solid #dee7ec;
//   font-size: 28px;
//   padding-bottom: 15px;
//   margin-bottom: 50px;
// }
//
// .contents-item {
//   float: left;
//   margin-right: 40px;
//
//   p {
//     font-size: 24px;
//     margin-top: 30px;
//   }
// }
//
// .contact-form {
//   padding-top: 100px;
// }
//
// /* inputとtextareaのCSSを指定してください */
//
// input, textarea {
//   width: 400px;
//   margin: 10px 0px 30px;
//   padding: 20px;
//   font-size: 18px;
//   border: 1px solid #dee7ec;
// }
//
// /* contact-submitのCSSを指定してください */
//
// .contact-submit {
//   background-color: #dee7ec;
//   color: #889eab;
// }
//
// .footer {
//   background-color: #2f5167;
//   color: #fff;
//   height: 120px;
//   padding: 40px;
// }
//
// .footer-logo {
//   float: left;
//   font-size: 32px;
// }
//
// .footer-list {
//   float: right;
//
//   li {
//     padding-bottom: 20px;
//   }
// }
